[submodule "TDAT3025 Anvendt maskinlæring med prosjekt/TetrisAI"]
	path = TDAT3025 Anvendt maskinlæring med prosjekt/TetrisAI
	url = https://github.com/JLMadsen/tetrisAI
[submodule "TDAT2003 Systemutvikling 2 med web-applikasjoner/Harmoni"]
	path = TDAT2003 Systemutvikling 2 med web-applikasjoner/Harmoni
	url = https://github.com/mbremyk/harmoni-6
